@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Poppins", sans-serif;

    --color-primary: #0abab5;
    --color-secondary: #56dfcf;
    --color-tertiary: #adeed9;

    --color-heading: #0f172a;

    /* Muted text */
    --color-muted: #64748b;

    /* Card + Border */
    --color-card: #ffffff;
    --color-border: #e2e8f0;

    /* Status colors */
    --color-success: #22c55e;
    --color-warning: #f59e0b;
    --color-danger: #ef4444;
}
